<body>

    <section class="navbar-section">

        <div class="container-fluid" *ngIf="firebaseAuthService.isLoggedIn === false">

            <nav class="navbar navbar-expand-lg navbar-dark">

                <a class="navbar-brand" href="/">
                    foodviva
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tindog-navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="tindog-navbar-collapse">
                    
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/regional-recipes">
                                Regional Recipes
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/about-us">
                                About Us
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/contact-us">
                                Contact Us
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-success" href="/sign-in">
                                Sign In
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="/sign-up">
                                Sign Up
                            </a>
                        </li>

                    </ul>
                
                </div>
            
            </nav>
        
        </div>

        <div class="container-fluid" *ngIf="firebaseAuthService.isLoggedIn === true">

            <nav class="navbar navbar-expand-lg navbar-dark">

                <a class="navbar-brand" href="/">
                    foodviva
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tindog-navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="tindog-navbar-collapse">
                    
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/regional-recipes">
                                Regional Recipes
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/about-us">
                                About Us
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/contact-us">
                                Contact Us
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-danger" (click)="firebaseAuthService.SignOut()">
                                Sign Out
                            </a>
                        </li>
                    
                    </ul>
                
                </div>
            
            </nav>
        
        </div>
    
    </section>

</body>
