<body>
    
    <section class="sign-up">

        <div class="container" *ngIf="firebaseAuthService.isLoggedIn === false">
    
            <div class="row justify-content-center">
    
                <div class="col-4">

                    <h1 class="mb-5 font-weight-bold text-center text-success">
                        Sign Up
                    </h1>
    
                    <form [formGroup]="signUpForm" (ngSubmit)="firebaseAuthService.SignUp(email.value, password.value)">
    
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter Email Address" #email>
                            <small id="emailHelp" class="form-text font-weight-bold text-danger" *ngIf="signUpFormControl['email'].touched && signUpFormControl['email'].errors?.['required']">
                                Email Address Required!
                            </small>
                            <small id="emailHelp" class="form-text font-weight-bold text-danger" *ngIf="signUpFormControl['email'].errors?.['email']">
                                Please Enter A Valid Email Address!
                            </small>
                            <small id="emailHelp" class="form-text text-muted">
                                We'll never share your email with anyone else.
                            </small>
                        </div>
    
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password" #password>
                            <small id="emailHelp" class="form-text font-weight-bold text-danger" *ngIf="signUpFormControl['password'].touched && signUpFormControl['password'].errors?.['required']">
                                Password Required!
                            </small>
                            <small id="emailHelp" class="form-text font-weight-bold text-danger" *ngIf="signUpFormControl['password'].errors?.['minlength']">
                                Password Must Contain At Least 8 Characters!
                            </small>
                        </div>
    
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="terms-and-conditions" checked disabled>
                            <label class="form-check-label" for="terms-and-conditions">
                                By clicking on Sign Up you agree to our Terms and Conditions.
                            </label>
                        </div>
    
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-success">Sign Up</button>
                        </div>

                        <div class="mt-4 dropdown-divider"></div>

                        <div class="mt-4 text-center">
                            <button type="button" class="btn btn-success" (click)="firebaseAuthService.GoogleAuth()">Continue with Google</button>
                        </div>

                        <div class="mt-4 row justify-content-center">
                            <div class="col-10">
                                <div class="text-center">
                                    Already Have An Account? 
                                    <a href="/sign-in" class="text-success" routerLink="/sign-in">
                                        Sign In
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
    
            </div>
    
        </div>

        <div *ngIf="firebaseAuthService.isLoggedIn === true">

            <div class="anonymous">

                <h1 class="font-weight-bold text-center text-center-custom text-success">
                    Hi User, You Are Already Signed In. Please Go Through The Content!
                </h1>

            </div>

        </div>
    
    </section>

</body>
